body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Share widget styles
-------------------------------------------------------------

ul.share-products {
    clear: both;
    display: inline-block;
}

ul.share-products li{
    float: left;
    list-style-position: inside;
    list-style-type: none;
    padding: 5px;
}

ul.share-products li span, ul.share-products li img, ul.share-products li a{
    display: block;
}
*/
/* Share widget styles
-------------------------------------------------------------*/
      .ui-jcoverflip {
        position: relative;
      }
      
      .ui-jcoverflip--item {
        position: absolute;
        display: block;
      }
      
      /* Basic sample CSS */
      #share_products {
        height: 350px;
        width: 100%;
        margin-bottom: 50px;
      }
      
      #share_products .ui-jcoverflip--title {
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
        color: #555;
      }
      
      #share_products img {
        display: block;
        border: 0;
        outline: none;
      }
      
      #share_products a {
        outline: none;
      }
      
      
      #share_products_wrapper {
        height: 500px;
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      
      .ui-jcoverflip--item {
        cursor: pointer;
      }
      
      body {
        font-family: Arial, sans-serif;
        width: 630px;
        padding: 0;
        margin: 0;
      }
      
      ul,
      ul li {
        margin: 0;
        padding: 0;
        display: block;
        list-style-type: none;
      }
      
      #scrollbar {
        position: absolute;
        left: 20px;
        right: 20px;
        
      }