body
{
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section
{
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea
{
    min-height: 75px;
}

.editor-label
{
    margin: 1em 0 0 0;
}

.editor-field
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Share widget styles
-------------------------------------------------------------

ul.share-products {
    clear: both;
    display: inline-block;
}

ul.share-products li{
    float: left;
    list-style-position: inside;
    list-style-type: none;
    padding: 5px;
}

ul.share-products li span, ul.share-products li img, ul.share-products li a{
    display: block;
}
*/
/* Share widget styles
-------------------------------------------------------------*/
.ui-jcoverflip
{
    position: relative;
}

.ui-jcoverflip--item
{
    position: absolute;
    display: block;
    cursor: pointer;
    /*width: 150px;*/
}

/* Basic sample CSS */

#share_products_wrapper
{
    background:transparent url('/petetest/images/template/share-lines.png') repeat-y left;
    height: 280px;
    margin-left: 21px;
    overflow: hidden;
    padding: 0 6px;
    position: relative;
    width: 409px;
}

.share_products_banner
{
    background:transparent url('/petetest/images/template/share-banner.png') no-repeat left top;
    height: 44px;
    overflow: hidden;
    width: 463px;
}
#share-buttons
{
    border-left: 1px solid #15b807;
    border-right: 1px solid #15b807;
    margin-left: 21px;
    padding: 15px 0;
    position: relative;
    width: 419px;
}
#share-buttons div.title
{
    position: absolute;
    top: 6px;
}
#share-buttons-footer
{
    background:transparent url('/petetest/images/template/share-bottom-line.png') no-repeat left bottom;
    height: 8px;
    margin-left: 21px;
    width: 421px;
}

.banner-number
{
    display: block;
    float: left;
    margin: 9px 0 0 28px;
    width: 30px;
}

.banner-text
{
    color: #fff;
    display: block;
    float: left;
    font-size: 17px;
    margin-top: 8px;
    width: 300px;
}

#share_products_wrapper .navigation
{
    float: left;
    height: 280px;
    width: 10%;
}

#share_products_wrapper .navigation:hover
{
    cursor: pointer;
    color: #0F92DC;
}

#share_products_wrapper .isNotVisible
{
    visibility: hidden
}

#share_products_wrapper .previous
{
    background:transparent url('/petetest/images/template/share-arrow-left.png') no-repeat left center;
    text-align: left;
}

    
#share_products_wrapper .next
{
    background:transparent url('/petetest/images/template/share-arrow-right.png') no-repeat right center;
    float: right;
    text-align: right;
}

.order-confirmation-content
{
    float: left;
    width: 49%;
}
.order-items {
    float: right;
    width: 49%;
}
.order-items h3
{
    font-size: 18px;
    font-weight: normal;
}
ul#share_products
{
    float: left;
    height: 250px;
    width: 80%;
    margin: 40px 0 0;
    overflow: hidden;
}

#share_products img
{
    display: block;
    border: 0;
    outline: none;
}

#share_products a
{
    color: #232323;
    display: block;
    outline: none;
    margin: 5px 0;
    text-align: center;
    text-decoration: none;
}
#share_products a .title
{
    display: none;
    left: -52px;
    padding-top: 10px;
    position: absolute;
    width: 250px;
}

.twitter-share-button
{
    margin: 0 15px;  
}
body
{
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}

#share_products_wrapper div ul, #share_products_wrapper ul li
{
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    background-image: none;
}

#scrollbar
{
    position: absolute;
    left: 20px;
    right: 20px;
}
