@model OrderViewModel

@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Meta {
    <meta property="og:title" content="Title of the product" /> 
    <meta property="og:description" content="Description of a product " /> 
    <meta property="og:image" content="http://www.biggreensmile.no/shop/images/products/MBOWLPATROL_dept.jpg?t=1225540350" />
}

@section Script
{
    <script src="@Url.Content("~/Scripts/KnockoutJS/shareViewModel.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/ShareWidget/shareWidget.js")" type="text/javascript"> </script>
}

<h2>Order</h2>

<div data-bind="text: OrderId"></div>

@*<div id="social_choices_tabs">
    <ul>
        <li><a href="#tabs-1">Facebook</a></li>
        <li><a href="#tabs-2">Twitter</a></li>
        <li><a href="#tabs-3">Email</a></li>
    </ul>
    <div id="tabs-1">
        123
    </div>
    <div id="tabs-2">
        123
    </div>
    <div id="tabs-3">
        123
    </div>
</div>*@

<div>
    Total products in order: <span data-bind="text: shareViewModel.totalProductsInOrder()"></span>
</div>

<div>
    Current Item: 
    <div data-bind="text: shareViewModel.currentItem().Name"></div>
    <div data-bind="text: shareViewModel.currentItem().Description"></div>
    <div data-bind="text: shareViewModel.currentItem().Image"></div>
</div>

<h3>
    Share your big green purchase
</h3>

<div id="share_products_wrapper">
    <div class="previous">
        Previous
    </div>
    <ul id="share_products" class="share-products" data-bind="foreach: Products">
        <li>
            <a class="product-selector" data-bind="attr: { href: ('#' + Id), title: Description }">
                <img data-bind="attr: { src: Image, alt: Description}"/>
                <span class="title" data-bind="text: Name"></span>
                <span class="tweet-content" data-bind="text: Description"></span>
                <span class="product-url" data-bind="text: EncodedUrl"></span>
                <span class="encoded-url" data-bind="text: Url"></span>
            </a>
        </li>
    </ul>
    <div class="next">
        Next
    </div>
</div>

@*<p>
    Your product: 
    <select data-bind="options: Products, 
                   optionsText: function(item) { 
                       return item.Name
                   }, 
                   value: SelectedProduct, 
                   optionsCaption: 'Choose...'"></select>
</p>*@
 
<div data-bind="visible: SelectedProduct"> <!-- Appears when you select something -->
    You have chosen a product with the name
</div>

<a name="fb_share" type="icon_link"  data-bind="attr: {'share_url': shareViewModel.currentItem().Description}">Share to facebook</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
        type="text/javascript"> </script>
        
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-bind="attr: {'data-text': shareViewModel.currentItem().Description}">Tweet</a>
<script type="text/javascript">  </script>

@*<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_amazon_wishlist_large' displayText='Amazon Wishlist'></span>
<span class='st_delicious_large' displayText='Delicious'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_email_large' displayText='Email'></span>

<script type="text/javascript"> var switchTo5x = false; </script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"> </script>
<script type="text/javascript"> stLight.options({ publisher: "ur-f0b9cd52-d31-7697-b796-5fd7440e920" }); </script>*@