@model OrderViewModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Meta {
    <meta property="og:title" content="Title of the product" />
    <meta property="og:description" content="Description of a product " />
    <meta property="og:image" content="http://www.biggreensmile.no/shop/images/products/MBOWLPATROL_dept.jpg?t=1225540350" />
}
@section Script
{
    <script src="@Url.Content("~/Scripts/KnockoutJS/shareViewModel.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/ShareWidget/shareWidget.js")" type="text/javascript"> </script>
}
<h2>
    Order</h2>
<div class="order-items">
    <h3>
        Share your purchase
    </h3>
    <div>
        Step 1</div>
    <div id="share_products_wrapper">
        <div class="previous navigation">
            &lsaquo;
        </div>
        <ul id="share_products" class="share-products" data-bind="foreach: Products">
            <li><a class="product-selector" data-bind="attr: { href: ('#' + Id), title: Description }">
                    <img data-bind="attr: { src: Image, alt: Description}" />
                    <span class="title" data-bind="text: Name"></span><span class="tweet-content" data-bind="text: Description">
                                                                      </span><span class="product-url" data-bind="text: EncodedUrl"></span><span class="encoded-url"
                                                                                                                                                 data-bind="text: Url"></span></a></li>
        </ul>
        <div class="next navigation">
            &rsaquo;
        </div>
    </div>

</div>